<a class="chitter-div" href="/chitter/<%= chitter._id %>">
  <div>
    <h2><%= chitter.chitter %></h2>
    <p><%= chitter.username %></p>
    <p><%= chitter.comments.length %> comments</p>
  </div>
</a>
