<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/<%=user.username%>">My Profile</a></li>
      <li><a href="/users">All Users</a></li>
      <li><a href="/api/signout">Logout</a></li>
    </ul>
  </nav>
</header>
