@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --background: #26547c;
  --text-color: #fcfcfc;
  --link-color: #06d6a0;
  --second-background: #15304767;
  --cta-color: #ffd166;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}
a {
  color: var(--link-color);
}
header {
  text-align: center;
  position: relative;
}
header h1 {
  font-size: 5rem;
}
header p {
  margin-top: -50px;
  font-size: 1.5rem;
}
.message {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  font-size: 1.3rem;
  border: 2px solid rgb(80, 177, 80);
  padding: 10px 20px;
  background-color: rgba(80, 177, 80, 0.342);
}
#hero {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
#hero form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 150px;
}
#hero form label {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
form label input {
  width: 250px;
  height: 30px;
  margin-left: 10px;
  background-color: var(--second-background);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color);
}

input[type="submit"] {
  width: 120px;
  height: 45px;
  margin-left: 10px;
  color: black;
  border: none;
  border-radius: 5px;
  background-color: var(--cta-color);
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

footer {
  text-align: center;
  bottom: 10px;
}

/* CHITTERS PAGE */

.chitter-div {
  width: 400px;
  background-color: var(--second-background);
  margin: 20px auto;
  display: block;
  padding: 10px 50px;
  border-radius: 10px;
  transition: transform 0.3s, boxShadow 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.267);
  text-decoration: none;
  color: var(--text-color);
}
.chitter-div:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.267);
  transform: translateY(-10px);
}
.new-chitter {
  width: 550px;
  margin: 20px auto;
}
.chitter-div h2 {
}
.chitter {
  width: 50%;
  margin: 10px auto;
  background-color: var(--second-background);
  min-height: 80vh;
  padding: 10px;
}
.chitter-content {
  padding: 10px 50px;
}
.chitter-content p,
.comment-container p {
  margin-bottom: -30px;
  font-size: 0.9rem;
  font-weight: bold;
}
.chitter-content h2,
.comment-container h2 {
  font-size: 2rem;
  font-weight: bold;
}
.comment-div {
  padding: 10px 50px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.397);
}
textarea {
  width: 90%;
  display: block;
  height: 90px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--second-background);
  color: var(--text-color);
  border: none;
}
::placeholder {
  color: var(--text-color);
  opacity: 0.8;
}
nav {
  width: 100%;
  background-color: var(--second-background);
  height: 50px;
  align-items: center;
  display: flex;
  padding: 10px 0;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul a {
  margin: 10px;
}

.delete-btn {
  border: none;
  background-color: transparent;
  color: rgb(243, 73, 73);
  text-decoration: underline;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}